In [1]:
#import tensorflow as tf
#from tensorflow import keras

#import os
#import tempfile

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import StandardScaler

# Chargement des données

Ici, les données sont celles de l'ensemble d'entraînement. Les analyses peuvent être lancées dessus directement.

In [3]:
X = pd.read_csv('/Users/annabellenarsama/Desktop/FouillesDonneesMassives/X.csv', sep=',')
X.head()

,Unnamed: 0,IDAvisAutorisationCheque,Montant,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,...,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Année,Mois,Jour,Minute,Seconde
0,0,78643044.0,20.00,0.0,0.0,0.0,551.0,0.000000,0.000000,0.000000,...,4.0,4.0,20.00,0.00,7,2017,2,1,32,14
1,1,78643046.0,57.64,0.0,0.0,0.0,549.0,0.000000,0.000000,0.000000,...,4.0,4.0,57.64,0.00,7,2017,2,1,47,38
2,2,78643048.0,26.90,0.0,0.0,0.0,549.0,0.003769,8.586333,0.001192,...,4.0,4.0,59.15,32.25,8,2017,2,1,13,27
3,3,78643049.0,42.51,0.0,0.0,0.0,523.0,0.000000,0.000000,0.000000,...,4.0,4.0,42.51,0.00,8,2017,2,1,13,53
4,4,78643050.0,50.84,0.0,0.0,0.0,551.0,0.006151,12.929167,0.001146,...,4.0,4.0,50.84,0.00,8,2017,2,1,18,24

In [25]:
X.dtypes

IDAvisAutorisationCheque    float64
Montant                     float64
VerifianceCPT1              float64
VerifianceCPT2              float64
VerifianceCPT3              float64
D2CB                        float64
ScoringFP1                  float64
ScoringFP2                  float64
ScoringFP3                  float64
TauxImpNb_RB                float64
TauxImpNB_CPM               float64
EcartNumCheq                float64
NbrMagasin3J                float64
DiffDateTr1                 float64
DiffDateTr2                 float64
DiffDateTr3                 float64
CA3TRetMtt                  float64
CA3TR                       float64
Heure                         int64
Année                         int64
Mois                          int64
Jour                          int64
Minute                        int64
Seconde                       int64
dtype: object

In [24]:
y.dtypes

FlagImpaye    bool
dtype: object

In [7]:
y = pd.read_csv('/Users/annabellenarsama/Desktop/FouillesDonneesMassives/y.csv', sep=',')
y.head()

   Unnamed: 0  FlagImpaye
0           0       False
1           1       False
2           2       False
3           3       False
4           4       False

In [8]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3794420 entries, 0 to 3794419
Data columns (total 25 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0                int64
 1   IDAvisAutorisationCheque  float64
 2   Montant                   float64
 3   VerifianceCPT1            float64
 4   VerifianceCPT2            float64
 5   VerifianceCPT3            float64
 6   D2CB                      float64
 7   ScoringFP1                float64
 8   ScoringFP2                float64
 9   ScoringFP3                float64
 10  TauxImpNb_RB              float64
 11  TauxImpNB_CPM             float64
 12  EcartNumCheq              float64
 13  NbrMagasin3J              float64
 14  DiffDateTr1               float64
 15  DiffDateTr2               float64
 16  DiffDateTr3               float64
 17  CA3TRetMtt                float64
 18  CA3TR                     float64
 19  Heure                     int64
 20  Année                     int64
 21  Mois                      int64
 22  Jour                      int64
 23  Minute                    int64
 24  Seconde                   int64
dtypes: float64(18), int64(7)
memory usage: 723.7 MB

In [9]:
X.shape

(3794420, 25)

In [10]:
X.columns

Index(['Unnamed: 0', 'IDAvisAutorisationCheque', 'Montant', 'VerifianceCPT1',
       'VerifianceCPT2', 'VerifianceCPT3', 'D2CB', 'ScoringFP1', 'ScoringFP2',
       'ScoringFP3', 'TauxImpNb_RB', 'TauxImpNB_CPM', 'EcartNumCheq',
       'NbrMagasin3J', 'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3',
       'CA3TRetMtt', 'CA3TR', 'Heure', 'Année', 'Mois', 'Jour', 'Minute',
       'Seconde'],
      dtype='object')

In [11]:
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3794420 entries, 0 to 3794419
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   Unnamed: 0  int64
 1   FlagImpaye  bool
dtypes: bool(1), int64(1)
memory usage: 32.6 MB

In [12]:
y.shape

(3794420, 2)

In [16]:
y.columns

Index(['Unnamed: 0', 'FlagImpaye'], dtype='object')

In [13]:
neg, pos = np.bincount(y['FlagImpaye'])
total = neg + pos
print('Examples:\n    Total: {}\n   Positive: {} ({:.2f}% of total)\n'.format(
    total, pos, 100 * pos / total))

Examples:
    Total: 3794420
   Positive: 21925 (0.58% of total)

In [17]:
X.drop(columns=['Unnamed: 0'], inplace=True)
X.head()

,IDAvisAutorisationCheque,Montant,VerifianceCPT1,VerifianceCPT2,VerifianceCPT3,D2CB,ScoringFP1,ScoringFP2,ScoringFP3,TauxImpNb_RB,...,DiffDateTr2,DiffDateTr3,CA3TRetMtt,CA3TR,Heure,Année,Mois,Jour,Minute,Seconde
0,78643044.0,20.00,0.0,0.0,0.0,551.0,0.000000,0.000000,0.000000,37.186668,...,4.0,4.0,20.00,0.00,7,2017,2,1,32,14
1,78643046.0,57.64,0.0,0.0,0.0,549.0,0.000000,0.000000,0.000000,73.118280,...,4.0,4.0,57.64,0.00,7,2017,2,1,47,38
2,78643048.0,26.90,0.0,0.0,0.0,549.0,0.003769,8.586333,0.001192,45.368313,...,4.0,4.0,59.15,32.25,8,2017,2,1,13,27
3,78643049.0,42.51,0.0,0.0,0.0,523.0,0.000000,0.000000,0.000000,24.223058,...,4.0,4.0,42.51,0.00,8,2017,2,1,13,53
4,78643050.0,50.84,0.0,0.0,0.0,551.0,0.006151,12.929167,0.001146,44.775178,...,4.0,4.0,50.84,0.00,8,2017,2,1,18,24

In [18]:
X.columns

Index(['IDAvisAutorisationCheque', 'Montant', 'VerifianceCPT1',
       'VerifianceCPT2', 'VerifianceCPT3', 'D2CB', 'ScoringFP1', 'ScoringFP2',
       'ScoringFP3', 'TauxImpNb_RB', 'TauxImpNB_CPM', 'EcartNumCheq',
       'NbrMagasin3J', 'DiffDateTr1', 'DiffDateTr2', 'DiffDateTr3',
       'CA3TRetMtt', 'CA3TR', 'Heure', 'Année', 'Mois', 'Jour', 'Minute',
       'Seconde'],
      dtype='object')

In [19]:
y.drop(columns=['Unnamed: 0'], inplace=True)
y.head()

   FlagImpaye
0       False
1       False
2       False
3       False
4       False

In [20]:
y.columns

Index(['FlagImpaye'], dtype='object')

In [21]:
from sklearn.cluster import KMeans

# Instanciation de l'algorithme :
kmeans = KMeans(n_clusters=2, random_state=1)

# Fit du modèle sur les données rééchantillonnées :
kmeans.fit(X, y)

/Users/annabellenarsama/anaconda3/envs/bigdataenv/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

KMeans(n_clusters=2, random_state=1)

In [22]:
# Paramètres du modèle :
centers = kmeans.cluster_centers_
labels = kmeans.labels_

# Affichage des paramètres du modèle :
print("Centroïdes de chaque exemple : \n", centers, "\n")
print("Étiquetage des exemples :", labels)

Centroïdes de chaque exemple :
 [[7.96622989e+07 5.89026389e+01 2.39928569e-01 2.55078581e-01
  2.81152515e-01 3.56563664e+02 1.60158303e+00 3.14908424e+00
  9.94722880e-02 3.83759683e+01 3.83488761e+01 9.41816484e+03
  1.03848749e+00 3.82411427e+00 4.12414531e+00 4.15808926e+00
  6.60415059e+01 7.13886704e+00 1.39286862e+01 2.01700000e+03
  3.16036926e+00 1.52419902e+01 2.94921594e+01 2.95011095e+01]
 [8.19685097e+07 6.04621690e+01 3.50521913e-01 3.76090596e-01
  4.18904198e-01 2.53223338e+02 2.92149674e+00 3.53487773e-01
  1.93182763e-01 3.95410691e+01 3.84984360e+01 6.83349056e+03
  1.03417294e+00 3.94981510e+00 4.23242432e+00 4.26390623e+00
  6.74191470e+01 6.95697800e+00 1.42931016e+01 2.01700000e+03
  6.63546093e+00 1.75549968e+01 2.95315221e+01 2.95004951e+01]]

Étiquetage des exemples : [0 0 0 ... 0 0 0]

In [ ]:
# Prédiction :
y_pred = kmeans.predict(X_test)